.bs-example
{
text-align: center;
margin:5% auto;
}


.myformbody
{
width:30%;
margin:0 auto;
}

.form-control
{
width:50%;
float:right;
}

.table
{
width:80%;
margin:0 auto;
}

th
{
text-align: center;
}

.btn btn-primary
{
margin:10px;
}